:root {
  --accent: #456381;
  --accent-light: #b6cce2;
  --accent-dimmed: #273b4e;
  --accent-dark: #0c1b29;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--accent-dimmed);
  font: 12pt Sans-Serif;
}

h1 {
  color: var(--accent-dark);
}

canvas {
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}

.body {
  max-width: 700px;
  margin: auto;
  padding: 0px;
  background-color: rgb(200,200,200);
}

#drawing {
  display: inline-block;
}

.content {
  padding: 15px;
}

.footer {
  color: var(--accent-light);
  background-color: var(--accent-dark);
  width: fill;
  padding: 10px;
  align-content: center;
  font-size: 9pt;
}

#hover-popup {
  position: absolute;
  display: none;
  border-radius: 10px;
  padding: 3px;
  pointer-events: none;
  background-color: rgba(255,255,255,0.5);
}
